<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="post.css">

</head>

<body>
    <div id="header">
        <span id="user"><%= user %>  </span>
    </div>
    <div id="content">

        <% for (post in posts) {%>
            <div class="post">
                <div class="post_header">
                    <span class="post_title">
                        <%= posts[post].title %>
                    </span>
                    <span class="post_author">
                        <%= posts[post].user %>
                    </span>
                </div>
                <div class="post_content">
                    <p>
                        <%= posts[post].post %>
                    </p>
                </div>
                <div class="post_footer">
                    <span><%= posts[post].tag %> </span>
                </div>
            </div>
            <% } %>
    </div>
</body>

</html>