<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/post.css">
    <link rel="stylesheet" href="/profile.css">
</head>

<body>
    <div id="header">
        <a href="/index/<%=user._id%>">
            <%= user.username %>
        </a>
        <a id="home" href="/">Bulletin</a>
        <div id="control_bar">
            <a href="/index/signOut"><button>Sign Out</button></a>
            <a href="/index/<%=user._id%>/edit"><button>Settings</button></a>
        </div>
    </div>

 

    <div id="content">
        <h1>All posts by <%=profile.username%>
        </h1>
        <% for (let index=posts.length - 1; index>= 0; index--) {%>
            <div class="post">
                <div class="post_header">
                    <span class="post_title">
                        <%= posts[index].title %>
                    </span>
                    <% if (user._id == posts[index].authorId) { %> 
                        <a class="post_edit_btn" href="/index/<%=user._id%>/posts/<%=posts[index]._id%>/edit"><button>Edit</button></a>
                    <% } else {%> 
                    <a class="post_author" href="/index/<%= posts[index].authorId %>">
                        <%= posts[index].author %>
                    </a>
                    <% } %> 
                </div>
                <div class="post_content">
                    <p>
                        <%= posts[index].post %>
                    </p>
                </div>
                <div class="post_footer">
                    <span>
                        <a href="/index?tag=<%= posts[index].tag %>">
                            <%= posts[index].tag%>
                        </a>
                    </span>
                    <span class="post_date">
                        <%=posts[index].date%>
                    </span>
                </div>
            </div>
            <% } %>
    </div>

</body>

</html>